<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>987347505099-b3osn561j0i1f6mp59t3agclkdp7khve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987347505099-b3osn561j0i1f6mp59t3agclkdp7khve</string>
	<key>API_KEY</key>
	<string>AIzaSyADff-Q0Bv7NUU_P8dpK1D4XioqdOkBiS4</string>
	<key>GCM_SENDER_ID</key>
	<string>987347505099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyCompany.TAGTaxi</string>
	<key>PROJECT_ID</key>
	<string>tagtaxiservices-72c2d</string>
	<key>STORAGE_BUCKET</key>
	<string>tagtaxiservices-72c2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:987347505099:ios:ca9ab2a21780cc21</string>
	<key>DATABASE_URL</key>
	<string>https://tagtaxiservices-72c2d.firebaseio.com</string>
</dict>
</plist>